.ContainerSearch {
    display: flex;
          align-items: center;
          flex: 4;
          margin-top: 12px;
    background-color: rgb(28, 29, 28);
    padding: 5px;
          border-radius: 10px;
}
.ContainerIcons{
    display: flex;
    align-items: center;
    flex: 0.22;
}
.ContainerLogo{
flex: 0.2;
}
.mainNavbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    background-color: #1c1d1c;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.Icons{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    
}
.searchIcon {
    width: 20px;
    height: 20px;
}
.searchInput{
    width: 33pc;
    border: none;
    padding: 4px;
    border-radius: 10px;
    background-color:#023000;
}
.ProfileImage{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 6px;
}

.ContainerNickName{
    color: White;
    font-size: 14px;
}

.ContainerName {
    color: white;
    font-size: 16px;
}